# プロジェクトガイドライン

## 指示
- コンポーネントや関数は役割や責務に応じて適宜切り出してください。
- 不明点があったら作業を止めて質問してください。
- 保守しやすいように処理についてのコメントを残してください。

## サービス名
- LYNX

## サービス概要
ブロガーやアフィリエイター、自社のメディアサイトを運営しているWebマーケター向けのサイト管理ツールです。
主に記事同士の内部リンクの関係性を可視化・管理するためのツールです。

## システム構成
- フロントエンド
  - TypeScript
  - [ReactRouter v7](https://reactrouter.com/home)
  - [shadcn/ui](https://ui.shadcn.com/)
  - ReactHookForm
  - zod
  - react-icons
  - tailwindcss

- バックエンド
  - TypeScript
  - NestJS
  - Prisma
  - PostgreSQL

- スクレイピング用APIサーバー
  - Python
  - Scrapy
  - FastAPI

## 機能
### GoogleのOAuth認証
- Googleアカウントを利用したログイン・会員登録

### Webサイトのスクレイピングとコンテンツ情報の取得
- Webサイトの情報をスクレイピング・取得して編集・DBに保存する

### ダッシュボード
- DBから取得したWebサイトのコンテンツ情報の分析レポートを表示

### 内部リンク相関表
- 記事内の内部リンクの相関表をマップで表示し、視覚的にどの記事に内部リンクがある/ないのか判断する